# Secrets
.env
.env.*
!.env.example
*.pem
*.key

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# Databricks
.databricks/

# SO
Thumbs.db
desktop.ini
.DS_Store
